.boards {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.Board-Blue {
    width: 50px;
    height: 60px;
    border: 3px solid #6495ee;
}

.Board-Red {
    width: 50px;
    height: 60px;
    border: 3px solid red;
}